body {
	background: #feffff; /* Old browsers */
	background: -moz-linear-gradient(top, #feffff 0%, #d8fff7 91%, #aaffe4 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #feffff 0%,#d8fff7 91%,#aaffe4 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #feffff 0%,#d8fff7 91%,#aaffe4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#aaffe4',GradientType=0 ); /* IE6-9 */
	background-attachment: fixed;
}

#lab8 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 2% 2% 2% 5%;
}

.profile {
	display: flex;
	flex-direction: column;
	background-color: #ECECEC;
	width: 70em;
	max-width: 100%;
	border: 2px solid black;
}

.cover {
	width: 100%;
	border: 5px solid white;

}

#profile-data {
	display: flex;
	flex-direction: row;
}

.picture {
	max-width: 20%;
	margin-left: 2.5em;
	margin-top: -6em;
	border: 0.1em solid #666f72;
}

.data h1 {
	margin-left: 0.7em;
}

.data h2 {
	margin-left: 1em;
	margin-top: -0.25em;

	font-size: 18px;
}

@media screen and (max-width: 720px) {

	#profile-data {
		flex-direction: column;
		align-items: center;
	}
	.picture {
		margin-left: 40%;
		margin-top: -3em;
	}

	.data h1 {
		margin-left: 0;
	}

	.data h2 {
		margin-left: 0;
	}
}

#about {
	background-color: #F7F7F7;
	margin-top: 0.4em;
	padding: 1em 2em 2em;

	font-size: 18px;
}


img {
	align-self: left;
}

.post {
	width: 30em;
	height: 7em;

	resize: none;
}

#button-group {
	margin-top: 1em;
	display: flex;
	flex-direction: row;
}

.postStatus {
	width: 10em;
	padding: 0.7em 0;

	background-color: #00AA80;
	color: #FFFFFF;

	border: 1px solid #00CEA0;
	border-radius: 10px;
}

.logout {
	width: 10em;
	padding: 0.7em 0;
	margin-left: 0.3em;

	background-color: #FE3C3C;
	color: #FFFFFF;

	border: 1px solid #FE6F6F;
	border-radius: 10px;
}

.login {
	width: 10em;
	padding: 0.7em 0;
	margin-left: 0.3em;

	background-color: #00AA80;
	color: #FFFFFF;

	border: 1px solid #00CEA0;
	border-radius: 10px;
}

@media screen and (max-width: 720px) {
	.post {
		width: 100%;
	}

	#button-group {
		flex-direction: column;
	}

	.postStatus {
		width: 100%;
	}

	.logout {
		width: 100%;
		margin-left: 0;
	}

	.login{
		width: 100%;
	}
}

.feed {
	background-color: #F1F1F1;
	margin-top: 2em;

	border: 3px solid #001C25;
	max-width: 50em;

	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1.5em;
	padding-right: 4em;
}

.feed button{
	float: right;
	margin-bottom: -2em;
	margin-right: -2.5em;

	background-color: rgba(0, 0, 0, 0);
	border-width: 0;
}

.feed h1{
	font-size: 24px;
}

.feed h2{
	font-size: 18px;
}