{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> friend Fasilkom</h2>
                    <div id="friend-list" class="list-group">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        $( document ).ready(function () {

            {# lengkapi pemanggilan ajax berikut untuk mengambil daftar teman yang ada di database #}
            $.ajax({
                method: "GET",
                url: '{% url "lab-7:get-friend-list" %}',
                success: function (response) {
                    friend_list = response.result
                    for (var i = 0; i < friend_list.length; i++){
                        friend = JSON.parse(friend_list[i])
                        html = '<div class="list-group-item clearfix">' + friend.friend_name
                                + '<a href="/lab-7/delete-friend/' + friend.id + '">'
                                + '<button type="button" class="btn btn-primary pull-right">Delete</button>'
                                + '</a></div>'
                        $('#friend-list').append(html)
                    }
                },
                error: function(error){
                    alert("OI");
                }
            });
        });
    </script>
{% endblock %}