body {
  min-height: 2000px;
}

.navbar-static-top {
  margin-bottom: 19px;
}
/*Textarea not resizeable*/
textarea {
    resize:none
}

.img-circle {
	border-radius: 50%;
}

.img-center {
	display: block;
	margin: auto;
}